# Created by .ignore support plugin (hsz.mobi)
### SimplerGradle template
# JetBrains template
/.idea/
/*.iws
/*.iml
/*.ipr
/out/
/.idea_modules/

# Gradle template
/.gradle
**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Eclipse/VS Code
/.classpath
/.project
/.settings
/bin

# Heap Dumps
**/hs_err_pid*.log

## Python Things
nothanks-python/venv
nothanks-python/.idea
