# Created by .ignore support plugin (hsz.mobi)
### SimplerGradle template
# JetBrains template
/.idea/
/*.iws
/*.iml
/*.ipr
/out/
/.idea_modules/

# Gradle template
/.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

.newt-cache/
choco/nflx-carson/tools/carson.zip

/.classpath
/.project
/.settings
/bin